@import '../../../variables.scss';

.root {
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  color: $colorDanger;
  display: flex;
  align-items: center;
  background-color: $colorUltraLightDanger;
}

.warningIcon {
  margin-right: 10px;
  width: 20px;
}
